#blocklyDiv {
    height: 100vh;
}
body{
    overflow-y: hidden;
}
li {
    border-bottom: 1px solid #393939;
}
.right-area{
    color: #CAE6E8;
    background-color: #393939;
}
.cl{
    height: 60%;
}
.codeArea{
    height: 75%;
    background-color: #282C34;
}
